$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
@import 'notika-custom-icon';
@import 'temas';
@import 'bootstrap.min';
@import 'style';
@import 'animate';
@import 'owl.carousel';
@import 'owl.theme';
@import 'owl.transitions';
@import 'normalize';
@import 'jquery.mCustomScrollbar.min';
@import 'waves.min';
@import 'responsive';

.d-flex {
    display: flex;
    margin: 15px;
  }
  
  .justify-content-end {
    justify-content: flex-end;
  }
  
  .justify-content-space-between {
    justify-content: space-between;
  }

  .btn-success, .btn-warning, .btn-danger, .btn-sm confirm {
  width: 70px;
  height: 30px;
  margin: 5px;
}