$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
@import 'notika-custom-icon';
@import 'temas';
@import 'bootstrap.min';
@import 'style';
@import 'animate';

.grid {
    display: grid;
    justify-content: space-between;
	grid-template-rows: [row1] 50% [row2] 50%;
    grid-template-columns: [col1] 30% [col2] 70%;
	grid-gap: 5px;
	text-align: end;
	color: #FFF;
}

.button_new {
	grid-row: 1/3;
    grid-column: 2/2;
     border-radius: 6px;
	}

.buttons_show {
    grid-row: 2 / 2;
    grid-column: 2/3;
	border-radius: 6px;
}

