@font-face {
   font-family: 'notika-icon';
   src:asset-url('notika-icon/notika-icon.woff') format('woff'),
   asset-url('notika-icon/notika-icon.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   }