h1
  | Editar produtos
= form_with model: @product, local: true do |form|
  - if @product.errors.any?
    #error_explanation
      h2
        = pluralize(@product.errors.count, "error")
        |  prohibited this product from being saved: 
      ul
        - @product.errors.full_messages.each do |msg|
          li
            = msg
  p
    = form.label :name
    br
    = form.text_field :name
  p
    = form.label :price
    br
    = form.text_field :price
  p
    - @product.product_images.each do |product|
      = image_tag(product)
  .mb-6
    = form.label :Imagens_dos_produtos, class: "label"
    p

    .dropzone.dropzone-default.dz-clickable[data-controller="dropzone" data-dropzone-max-file-size="10" data-dropzone-max-files="10"]
      = form.file_field :product_images, multiple: true, direct_upload: true, data: { target: 'dropzone.input' }
      .dropzone-msg.dz-message.needsclick.text-gray-600
        h3.dropzone-msg-title
          | Drag here to upload or click here to browse
        span.dropzone-msg-desc.text-sm
          | 10 MB files size maximum. Allowed file types png, jpg.
  p
    = form.submit
= link_to 'Back', products_path